@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
.bottom{
  background: transparent;
  border: none;
 
}
.bottom:focus{
 
  background-color: #ececec;
}
.bottom:focus-visible{
  border: none;
  outline: none;
}
.btn{
  border-radius: 40px;
  height: 50px;
}
.btn1{
  border-radius: 10px;
  height: 29px;
  border: 1px solid rgb(202, 200, 200);
}
.btn:hover{
  background-color: #ececec;
}
.btn1:hover{
  background-color: #ececec;
}
.welcome{
  
  color: #383434;
  font-weight: 700;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}
.icon{
  
  font: 900 1.6rem 'Baloo 2', cursive;

}
.dropdownmenu{
  position: absolute;
  top: 4.5rem;
  right: 30.7rem;

  
  width: 310px;
  height: 153px;
  border-radius: 10px;
}


li:hover{
   background-color: #e7e7e7;
}

.add-task{
  
  height: 35px;
  display: flex;
  align-items: center;
  color: #707070;
}
.add-task:hover{
   background-color: #d8d6d6;
}