@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
.bottom{
  background: transparent;
  border: none;
}
.bottom:focus{
 
  background-color: #3c97b8;
}
.bottom:focus-visible{
  border: none;
  outline: none;
}
.btn{
  background-color: #1C6E8C;
}
.btn:hover{
  background-color: #3c97b8;
}
.welcome{
  font-size: 1.6rem;
  color: #1a1717;
  font-weight: 700;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Quicksand', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
