/* index.css */
.theme-light {
  --bg: #ffffff;
  --text: #1f2937;
  --card: #f9fafb;
}

.theme-dark {
  --bg: #1f2937;
  --text: #f9fafb;
  --card: #111827;
}

.theme-blue {
  --bg: #e0f2fe;
  --text: #0369a1;
  --card: #bae6fd;
}

.theme-retro {
  --bg: #fef3c7;
  --text: #78350f;
  --card: #fde68a;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f9fafb;
   
  
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: color 0.25s;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
 
  cursor: pointer;
  transition: border-color 0.25s;
}



